
  body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

  * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-link{
  text-decoration: none;
  color: white;
  
}

.navbar-brand{
  color: white;
}

.navbar{
  position: fixed;
   z-index: 1;
   width: 100%;
   background-color: #111827;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-weight: bolder;
}


/*cards*/
.movie-card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro translúcido */
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.overlay-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay-text {
  font-size: 14px;
  color: black;
}

.noticias{
  color: #fff;
  background-color: black;
}

footer{
  background-color: black;
  text-align: center;
  z-index: -1;
}

/* Telas grandes */
.carousel-item img {
  height: 600px;
  object-fit: cover;
}

/* Telas médias e pequenas */
@media (max-width: 992px) {
  .carousel-item img {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 200px;
  }
}