body{
    background-color: white
}


p{
    color: black;
    text-align: left;
    font-size: 1.9rem;
   
}

.cor1{
    background-color: black;
}

h2{
    color: #000;
}

.card-body p {
    font-size: 0.85rem;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;

  }

  .card {
    width: 200px;
    height: 400px;
    overflow: hidden; /* para cortar texto que passar do limite */
  }

  .navbar-brand{
    color: red
  }