
.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  transition: color 0.3 ease;

}

.nav-item-login{
  margin-left: 800px;
  color: white;
 
}

.btn{
  background-color: #111827;
  border: 1px solid white;
}


.navbar-brand {
  color: white;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #111827;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px 32px;

}


.autor{
    color: #808080;
    font-family: Poppies;
}

.comment-section {
  width: 60%;
  margin: auto;
  font-family: Arial;
}
.comment-form input, .comment-form textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}
.comment {
  display: flex;
  margin-top: 20px;
}
.comment img {
  width: 50px;
  border-radius: 50%;
}
.comment-body {
  margin-left: 15px;
}
.comment-body h4 span {
  font-size: 0.8em;
  color: gray;
}

.butao{
    border-radius: 10px;
    border: 1px solid black;
    font-family: Poopies;
}

.footer{
    background-color: black;
}




.card {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #004466;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.card ul li a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card ul li a:hover {
  color: #004466;
}

/*card dos atores*/

